body {
    display: flex;
    align-content: center;
    height: 100%;
    width: 100%;
}
.konteiner{
    background-color: lightsteelblue;
    width: 80%;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.blokk {
    background-color: orange;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    
    
}