html{
    font-size: 14px;
}
div {
    box-sizing: border-box;
}
body {
    background-color: lightseagreen;
    font-family: Roboto, sans-serif;
    background-image: url('taustapilt.jpg');
    background-size: cover;
}

h1, h2{
    font-family: Karla, sans-serif
}
.konteiner {
    width: 80%;
    max-width: 1000px;
    background-color: rgba(238, 238, 238, 0.767);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 30px;
    border-radius: 1%;
    }

.uudis-autor, .uudis-kuupaev{
    font-size: 1rem;
    color: rgb(21, 21, 87);
    font-size: bold;
    display: inline-block;
    width: 49%;
}
.uudis-kuupaev{
    font-style: italic;
    text-align: right;
}
.uudis-sisu{
    font-size: 1.2rem;

.veerg1 {
        vertical-align: top;
        width: 60%;
        display:inline-block;
    }
}
.uudis-autor{
    font-style: italic;
    text-align: left;
    
}
.nupp {
    background-color: rgb(196, 160, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    margin-top: 55px;
  }

  .nupp:hover  {
    background-color: rgb(110, 109, 32); 
    color: white;
    
  }
  .pildiasukoht {
    display: block;
    margin-left: auto;
    margin-right: 20px;
    width: 50%;
  }
  .thumb {
    border-style: solid;
    border-color: transparent;
    border-radius: 50px;
    width: 10%;

  }