.konteiner{
    background-color: rgba(133, 133, 165, 0.315);
    width: 400px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px; 
    border:1px solid white;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.281);
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;
    
    

}

.ruum-yleval{
  display: inline-block;
  margin-top: 10px;
 
}
/* Pealkirjad */
h2{
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 30px;
   
}

/* Logo  */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
}
/* Taust  */
body {
    background-image: url('taust.jpg ');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    
  }
/* kastid */
input[type=email],input[type=text],input[type='password'],select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-color: rgba(38, 38, 39, 0.315);
    font-family: 'Roboto', sans-serif;
    color: white;
  }

input[type=email]:focus,input[type=text]:focus, input[type='password']:focus {
    border: 2px solid rgb(21, 75, 110);
  }

  input[type=email]:hover, input[type=text]:hover, input[type='password']:hover, select:hover, checkbox:hover{
    border: 1px solid rgb(21, 75, 110);
  }


/* Nupud */
  .nupp {
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-color: rgba(38, 38, 39, 0.315);
    color: white;
   
  }
 .nupp:hover {
    border: 1px solid rgb(21, 75, 110);
    color: black
 }
 .nupudevahe{
    width: 400px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto; 
}
::placeholder { 
    color: white;
    opacity: 1; 
  }
/* Tagasinupp */
  a {
    color: white;
    text-decoration: none;
    font-weight: 400;
  }
  a:hover {
    color: rgb(21, 75, 110);
  }